# Configuration file

maxbright {
    B:maxbright=false
}


myself {
    B:myself=true
}


particles {
    B:blocks=true
    B:combat=true
    B:drips=true
    B:explosions=true
    B:fire=true
    B:glyphs=true
    B:hearts=true
    B:items=true
    B:magic=true
    B:mycelium=true
    B:notes=true
    B:portals=true
    B:redstone=true
    B:slime=true
    B:villagers=true
    B:water=true
}


portals {
    B:portalEffects=true
}


sounds {
    S:actioncolour=FFFFFF
    S:actionresult=Sound Only
    S:ambientcolour=0000FF
    S:ambientresult=Sound and Subtitle
    S:hostilecolour=FFFFFF
    S:hostileresult=Sound and Subtitle
    S:machinecolour=FFFF00
    S:machineresult=Subtitle Only
    S:mecolour=FFFF00
    S:meresult=Sound and Subtitle
    S:passivecolour=FFFFFF
    S:passiveresult=Sound Only
    S:playercolour=FFFFFF
    S:playerresult=Sound Only
}


